services:
  node1:
    build: .
    command: ["--host", "0.0.0.0", "--port", "5000"]
    ports:
      - "5000:5000"
    stdin_open: true
    tty: true

  node2:
    build: .
    command: ["--host", "0.0.0.0", "--port", "5001", "--bootstrap", "node1:5000"]
    ports:
      - "5001:5001"
    depends_on:
      - node1
    stdin_open: true
    tty: true

  node3:
    build: .
    command: ["--host", "0.0.0.0", "--port", "5002", "--bootstrap", "node1:5000"]
    ports:
      - "5002:5002"
    depends_on:
      - node1
    stdin_open: true
    tty: true
